/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
body{
  background-color: #2cdb1c;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  column-gap: 40px;
}
.main button{
  width: 100px;
  height: 50px;
  /* border-radius:5px; */
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btn1{
background-color: #78ADD2;
}

.btn2{
  background-color: #0072AA;
}


.btn3{
  background-color: #A4D0A0;
}

.btn4{
  background-color:#21AA47;
}

.sidebar {
  background-color: #756b6b;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  display: block;
}

.sidebar a:hover {
  background-color: #ddd;
}

.content {
  margin-left: 150px;
  padding: 20px;
}


/* Navigation bar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

.navbar a:last-child {
  margin-right: 0;
}

.navbar a.active {
  font-weight: bold;
}

/* Main content styles */
.content {
  padding-top: 60px;
  padding-left: 20px;
}
